// _icons.scss

.icon {
  display: inline-block;
  fill: currentColor;

  width: 1em;
  height: 1em;
  vertical-align: -.1em;
}

.icon--large {
  width: 2em;
  height: 2em;
  vertical-align: -.2em;
}

.icon--spin {
  transform-origin: center;
  animation: iconSpin 1s infinite linear;
}

@keyframes iconSpin {
  to{
    transform: rotate(360deg);
  }
}
