// _all.scss

.container{
  max-width: $break-large;
  margin: 0 auto;
  padding: 0 2em;
}

.admin .container{
  max-width: $break-medium;
}

.page{
  min-height: 100vh;
  margin: 0 auto;
  padding: 2em 0;

  background-size: cover;
  background-position: 0 0, 10% 50%;
  background-attachment: fixed;

  animation: pageIn .25s ease-in;
  transition: background 1s;
}

.admin .page{
  overflow: hidden;

  background: white;
  border-radius: 5px;

  @media (max-width: $break-small){
    border-radius: 0;
  }
}

.page--sign-in,
.page--sign-out,
.page--password{
  float: none;
  width: 100%;
  margin: 5em auto 0;

  border-radius: 5px;

  @media (min-width: $break-small){ width: 80%; }
  @media (min-width: $break-medium){ width: 60%; }
  @media (min-width: $break-large){ width: 50%; }
}

@keyframes animateBackground{
  to{
    background-position: 0 0, 90% 50%;
  }
}

@keyframes pageIn{
  from{
    transform: scale(.99);
    opacity: 0;
  }
}

// temp hidden
.page--events .button-group{
  display: none;
}

.page-title{
  overflow: hidden; /* clearfix */
  background: linear-gradient(to right, lighten($colour-brand, 10%), adjust-hue(lighten($colour-brand, 10%), 20));
}

.page-title h1{
  float: left;
  width: 50%;
  margin: 0;
  padding: .5em .25em;

  font-size: 1.75em;
  font-weight: 300;
  color: lighten($colour-brand, 40%);
}

.page-title .buttons{
  float: left;
  width: 50%;
  padding: .75em .5em;
}

.page-title .buttons .button{
  margin-left: .5em;
  float: right;

  color: adjust-hue(lighten($colour-brand, 10%), 20);
  background: white;
}

.page-title .buttons .button--success{
  color: $colour-success;
}
