// _all.scss

.container{
  max-width: $break-large;
  margin: 0 auto;
}

.page{
  height: 100vh;

  padding: 1em;

  background-size: cover;
  background-position: 0 0, 10% 50%;
  background-attachment: fixed;

  animation: pageIn .25s ease-in;
  transition: background 1s;
}

.admin .page{
  width: 60%;
  padding: 2em;
  margin: 2em auto;

  background: white;
  border-radius: 5px;

  @media (max-width: $break-small){
    border-radius: 0;
    width: 100%;
  }
}

.page--sign-in,
.page--sign-out,
.page--password{
  float: none;
  width: 100%;
  margin: 5em auto 0;

  border-radius: 5px;

  @media (min-width: $break-small){ width: 80%; }
  @media (min-width: $break-medium){ width: 60%; }
  @media (min-width: $break-large){ width: 50%; }
}

@keyframes animateBackground{
  to{
    background-position: 0 0, 90% 50%;
  }
}

@keyframes pageIn{
  from{
    transform: scale(.99);
    opacity: 0;
  }
}

// temp hidden
.page--events .button-group{
  display: none;
}
